USCOA_USERNAME=your_student_or_staff_id
USCOA_PASSWORD=your_password
USCOA_URL=http://uscoa.usc.edu.cn/page/index
USCOA_TARGET_URL=
USCOA_MENU_TEXT=
USCOA_HEADFUL=0
USCOA_REUSE_SESSION=1
USCOA_REMEMBER_ME=0
USCOA_TIMEOUT_MS=45000
USCOA_BROWSER_PATH=
